@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --title: #ffee00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bangers: var(--font-bangers)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-fondo: #0D6526;
    --color-contenedor: #8B1E1E;
    --color-texto: #FFFFFF;
    --color-texto-correcto: #0D6526;
    --color-texto-incorrecto: #ce1111;
    --color-boton: #F6C744;           
    --color-boton-hover: #d9aa24;
    --negro: #000000;   
    --fuente-principal: 'Bangers', sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.hxh-title {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-family: var(--font-bangers);
  color: var(--color-texto);
}
